## ML - Class: Oct 20,2022

In [1]:
## text work
## images work
## videos work
## Drive new folder in "Google collab"
#from google.colab import drive
#drive.mount('/content/drive')

In [2]:
# Reading dataset files.
import pandas as pd

In [3]:
diabetes_data = pd.read_csv("diabetes.csv")
# pd.read_excel() for Excel files

In [4]:
diabetes_data

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [5]:
diabetes_data.shape

(768, 9)

In [6]:
diabetes_data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [7]:
diabetes_data.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

## Pre-processing of Data

In [8]:
print(diabetes_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB
None

In [9]:
print(diabetes_data.describe())

       Pregnancies     Glucose  BloodPressure  SkinThickness     Insulin  \
count   768.000000  768.000000     768.000000     768.000000  768.000000
mean      3.845052  120.894531      69.105469      20.536458   79.799479
std       3.369578   31.972618      19.355807      15.952218  115.244002
min       0.000000    0.000000       0.000000       0.000000    0.000000
25%       1.000000   99.000000      62.000000       0.000000    0.000000
50%       3.000000  117.000000      72.000000      23.000000   30.500000
75%       6.000000  140.250000      80.000000      32.000000  127.250000
max      17.000000  199.000000     122.000000      99.000000  846.000000

              BMI  DiabetesPedigreeFunction         Age     Outcome
count  768.000000                768.000000  768.000000  768.000000
mean    31.992578                  0.471876   33.240885    0.348958
std      7.884160                  0.331329   11.760232    0.476951
min      0.000000                  0.078000   21.000000    0.000000
25%     27.300000                  0.243750   24.000000    0.000000
50%     32.000000                  0.372500   29.000000    0.000000
75%     36.600000                  0.626250   41.000000    1.000000
max     67.100000                  2.420000   81.000000    1.000000

In [10]:
import numpy as np
import matplotlib
from matplotlib import pyplot as plt

## Slicing of Data

In [11]:
diabetes_data['BloodPressure']

0      72
1      66
2      64
3      66
4      40
       ..
763    76
764    70
765    72
766    60
767    70
Name: BloodPressure, Length: 768, dtype: int64

In [12]:
diabetes_data['BloodPressure'].count()

768

In [13]:
diabetes_data[['BloodPressure','Age','BMI']].shape

(768, 3)

In [14]:
diabetes_data[['BloodPressure','Age','BMI']][10:20] #starting:ending

    BloodPressure  Age   BMI
10             92   30  37.6
11             74   34  38.0
12             80   57  27.1
13             60   59  30.1
14             72   51  25.8
15              0   32  30.0
16             84   31  45.8
17             74   31  29.6
18             30   33  43.3
19             70   32  34.6

In [15]:
diabetes_data[['BloodPressure','Age','BMI']][10:20:3] #starting:ending

    BloodPressure  Age   BMI
10             92   30  37.6
13             60   59  30.1
16             84   31  45.8
19             70   32  34.6

In [16]:
import sklearn


##### Separation of dataset into faetures and label
##### Lable/Target/Output : Outcome
##### Feature: Pregrenacies, Glucose, BloodPressure, SkinThickness, Insulin, BMI, DiabetesPedigreeFunction, Age
#####  Supervised learning m 2 kaam hotey h  e.g identification of features and labels
#####

## Extracting Features and labels

## Formula:
###  df.iloc[rows_start:rows_end, col_start:col_end]

In [17]:
# Features
# X = df.iloc[rows_start:rows_end, col_start:col_end]
#iloc function extract specific rows and columns. Comma sy phely wali Rows h and Comma k baad k baad waley Columns h
X = diabetes_data.iloc[:,0:8]  #Normally data m sari rows chahye lekin 2nd column tk chahye.
# X = diabetes_data.iloc[:,0:-1]  same outut as above
#iloc[] here i = index and loc = location

In [18]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [19]:
#Labels
y = diabetes_data['Outcome']

In [20]:
y.value_counts()

0    500
1    268
Name: Outcome, dtype: int64

## Training Set and Testing Set Splitting

In [21]:
from sklearn.model_selection import train_test_split

In [22]:
# X_train, X_test, y_train,y_test  = train_test_split(X,y,test_size  = 0.33,random_state = 42)
# X_train, X_test, y_train,y_test  = train_test_split(X,y,test_size  = 0.30,shuffle = True)
X_train, X_test, y_train,y_test  = train_test_split(X,y,test_size  = 0.30,shuffle = True)

In [23]:
print("Training shape of data is :", X_train.shape) ## x_train --> training features
print("Training shape of data is :", X_test.shape)  ## x_test --> testing features
print("Training Labels are: ", y_train.shape)  ## y_train --> trainig labels
print(y_test.shape) ## y_test --> testing label

Training shape of data is : (537, 8)
Training shape of data is : (231, 8)
Training Labels are:  (537,)
(231,)

## Model Selection

In [24]:
# Step_1: Dataset hona chahye
# Step_2: if we 2 classes then we have Binary Classification
# If we have more than 2 classes, then we have Multi Classification
# Ye dekhna k kitny features h . Konsey features h. Aor label konsa h humra.

In [25]:
# from sklearn.linear_model import LinearRegression
# from sklearn.naive_bayes import GaussianNB #import model from libary
# from sklearn.linear_model import LogisticRegression
# from sklearn import tree
# from sklearn.ensemble import RandomForestClassifier
from sklearn import svm

In [26]:
# gnb = LinearRegression()
# gnb = GaussianNB()
# gnb = LogisticRegression()
# gnb = RandomForestClassifier()
# gnb = tree.DecisionTreeClassifier()
gnb = svm.SVC()

In [27]:
model = gnb.fit(X_train, y_train)
print("Model is trained")
model

Model is trained

SVC()

In [28]:
y_pred = gnb.predict(X_test)
print(y_pred)

[0 0 0 1 0 0 0 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 0
 0 0 0 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 1 0 1 0 1 0 0 0 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 1 0 0 1 0 0 0 0 1 1 1 0 1 0 1 0 0 0 0 0 0 0 0 1
 0 0 0 1 0 1 0 0 1 0 1 0 0 1 1 0 0 0 0 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0
 0 1 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 0 0 0 0
 1 0 0 1 0 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 1 0 0 1 0 0 0 1 0
 0 0 0 0 0 1 1 0 0]

In [29]:
# First machine model : Support Vector Machine
# Is still working!

In [30]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred) #(actual value: predicted value)
#(y_train,y_pred) for X_train
print(round(accuracy*100,2),"%")

74.46 %

In [31]:
# from sklearn.metrics import plot_confusion_matrix,confusion_matrix
# plot = plot_confusion_matrix(model,X_test,y_test,cmap = plt.cm.Blues)

In [32]:
y_test

418    0
151    0
305    0
236    1
393    0
      ..
713    0
498    1
754    1
162    0
628    0
Name: Outcome, Length: 231, dtype: int64